/* Frame.css */

html {
  background-color: #121212;
}

.navagation div {
  display: flex;

}

.navagation-links {
  text-align: center;
  list-style: none;
  padding: 0;
}

.navagation-links li {
  display: inline-block;
  margin-right: 15px;
  color: white;
}


/* Footer */
footer {
  padding: 20px 0;
  text-align: center;
  color: white;
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  display: inline-block;
  color: white;
}

.social-links img {
  max-width: 25%;
  max-height: 25%;
}