<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset=" UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cosmic_Misfits</title>
  <link rel="stylesheet" href="Frame.css">
</head>

<body>
  <header>
    <div class="navagation">
      <nav>
        <ul class="navagation-links">
          <li><a href="./Welcome.html" hx-get="/welcome" hx-target="#content">Welcome</a></li>
          <li><a href="./Blog.html" hx-get="/blog" hx-target="#content">Blog</a></li>
          <li><a href="./Projects.html" hx-get="/projects" hx-target="#content">Projects</a></li>
          <li><a href="./Failures.html" hx-get="/failures" hx-target="#content">Failures</a></li>
          <li><a href="./Credits.html" hx-get="/credits" hx-target="#content">Credits</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="content">
      <!--
        htmx hot-load content
      -->
    </div>
  </main>

  <footer>
    <div class="footer">
      <div class="row">
        <div class="col-md-4">
          <a href="#"><img src="your-logo.png" alt="Your Brand Name"></a>
        </div>
        <div class="col-md-4">
          <ul class="social-links">
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>&copy; 2023 Your Name. All rights reserved.</p>
          </div>
        </div>
     </div>
  </footer>
</body>
</html>
